#actions {
  padding-top: 0;
  background-color: $lightgrey;
  color: $darkgrey;

  font-size: 11px;

  .visual {
    height: 150px;
    background: url(/img/answers-mobile.jpg) 50% 50% no-repeat;
    background-size: cover;
  }

  p {
    text-align: justify;
    margin-bottom: 20px;
  }

  .strong {
    font-size: 13px;
  }
  h5 {
    font-size: 11px;
    text-align: left;
  }
  .strong,
  h5 {
    font-family: "futura_bdcn_btbold";
    text-transform: none;
  }

  h4 {
    font-family: "futura_bdcn_btbold";
    font-size: 17px;
    text-transform: none;
    span {
      font-size: 10px;
      display: block;
    }
  }

  .orangebtn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 960px) {
  #actions {
    font-size: 20px;

    .blacktitle {
      background-color: black;
      padding: 4px 8px;
      span {
        display: inline;
        background: none;
      }
    }

    h2 {
      margin-bottom: 30px;
    }

    h5,
    .strong {
      font-size: 20px;
    }

    h4 {
      font-size: 30px;
      span {
        font-size: 24px;
      }
    }

    .visual {
      height: 300px;
      background-image: url(/img/answers-desktop.jpg);
    }

    .cols {
      clear: both;
      overflow: auto;
      .left,
      .right {
        float: left;
        width: 48%;
      }
      .left {
        margin-right: 3%;
      }
    }
  }
}
