#figures {
  background-color: $green;

  .visual {
    display: none;
  }

  .cols {
    margin-bottom: 40px;
  }

  .illu {
    position: relative;
    margin: 30px 20px 0 20px;
    height: 200px;
    div {
      text-align: left;
      position: absolute;
      text-transform: uppercase;
      top: 20px;
      left: 0;
      font-family: "futura_xblk_btextra_black";
      font-size: 15px;
    }
    background: url(/img/rdc.png) top right no-repeat;
    background-size: auto 100%;
  }

  ul {
    width: 250px;
    margin: 0 auto;
    li {
      text-align: left;
      font-size: 14px;
      margin-bottom: 20px;
      div {
        font-size: 38px;
        font-family: "futura_xblk_btextra_black";
        text-transform: uppercase;
        margin-bottom: 5px;
        .unit {
          font-size: 17px;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  #figures {
    .cols {
      overflow: auto;
      clear: both;
      margin-top: 40px;
      margin-bottom: 0;
      .illu,
      ul {
        float: left;
        width: 42%;
        li {
          display: inline-block;
          vertical-align: top;
          width: 48%;
          margin-right: 1%;
        }
      }
      .illu {
        width: 52%;
        margin-right: 2%;
        margin-top: 0;
        padding-bottom: 60px;
        background-position: top center;
        div {
          font-size: 20px;
        }
      }
    }

    .visual {
      display: block;
      height: 576px;
      background: url(/img/map.jpg) 50% 50% no-repeat;
      background-size: cover;
    }
  }
}
