#main {
  margin-top: 77px;
  background-color: $blue;
  .top {
    position: relative;
    img {
      width: 100%;
    }
    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      .play {
        margin: -19px 0 0 -19px;
        width: 38px;
        height: 38px;
      }
      h2 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        font-size: 14px;
      }
    }
  }
  ul {
    margin-top: 20px;
    margin-bottom: 40px;
    li {
      .preview {
        display: none;
      }
      video {
        display: block;
        width: 180px;
        margin: 0 auto 10px auto;
      }
      margin-bottom: 20px;
      &:last-child {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  #main {
    margin-top: 90px;
    ul {
      margin-top: 30px;
      margin-bottom: 10px;
      li {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin-right: 60px;
        video {
          display: none;
        }
        .preview {
          position: relative;
          display: block;
          height: 200px;
          background-size: cover;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          margin-bottom: 20px;
          cursor: pointer;
          &.preview1 {
            background-image: url(/img/preview1.jpg);
          }
          &.preview2 {
            background-image: url(/img/preview2.jpg);
          }
          .play {
            margin: -30px 0 0 -30px;
            width: 60px;
            height: 60px;
            opacity: 0.7;
          }
          &:hover {
            .play {
              opacity: 1;
              transform: scale(1.2, 1.2);
            }
          }
        }
      }
    }

    .top {
      .overlay {
        .play {
          margin: -50px 0 0 -50px;
          width: 100px;
          height: 100px;
          opacity: 0.7;
          &:hover {
            opacity: 1;
            transform: scale(1.2, 1.2);
          }
        }
        h2 {
          bottom: 40px;
          left: 40px;
          right: 40px;
          font-size: 36px;
        }
      }
    }
  }
}
