#mobilization {
  background-color: $blue;
  padding-bottom: 0;

  img {
    width: 100%;
    display: block;
  }

  ul {
    margin-top: 20px;
    li {
      display: inline-block;
      margin: 0 10px 0 0;
      &:last-child {
        margin: 0;
      }
      a {
        display: block;
        background-color: white;
        color: $blue;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        .fab {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  #mobilization {
    ul {
      margin-top: 40px;
      li {
        margin-right: 20px;
        a {
          width: 56px;
          height: 56px;
          border-radius: 28px;
          .fab {
            font-size: 40px;
            line-height: 56px;
          }
        }
      }
    }
  }
}
