body {
  background-color: $white;
  color: $black;
  text-align: center;
  font-family: "futura_bk_btbook";
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

section .content,
footer {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  ul {
    li {
      margin-bottom: 10px;
      &:last-child {
        margin: 0;
      }
    }
  }
}

section {
  color: $white;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 10px;
  text-align: right;
  background-color: white;
  h1 {
    position: absolute;
    text-align: left;
    text-indent: -4000px;
    left: 10px;
    height: 62px;
    width: 110px;
    background: url(/img/action-contre-la-faim.png) 0 0 no-repeat;
    background-size: auto 100%;
  }
  nav {
    display: none;
  }
  #menubtn {
    display: inline-block;
    font-size: 20px;
    line-height: 56px;
    color: $darkgrey;
  }
  .orangebtn {
    margin-left: 10px !important;
    padding: 0 20px !important;
    line-height: 56px;
  }
}

footer {
  #topbtn {
    display: none;
  }
  font-size: 10px;
  color: $darkgrey;
  a {
    color: $darkgrey;
  }
}

@media screen and (min-width: 960px) {
  body {
    font-size: 20px;
  }
  section .content,
  footer {
    padding: 40px;
    #topbtn {
      display: inline-block;
      position: absolute;
      top: 25px;
      right: 40px;
      cursor: pointer;
      background-color: $orange;
      padding: 5px 10px;
      color: white;
      font-size: 30px;
      &:hover {
        background-color: $green;
      }
    }
    ul {
      li {
        font-family: "futura_bdcn_btbold";
        display: inline-block;
        font-size: 13px;
        margin: 0 60px 0 0;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  header {
    padding: 0 0 0 20px;
    height: 90px;
    h1 {
      top: 10px;
      left: 42px;
      height: 72px;
      width: 180px;
    }
    #menubtn {
      display: none;
    }
    nav {
      display: inline-block;
      vertical-align: top;
      line-height: 90px;
      ul {
        li {
          display: inline-block;
          margin-left: 30px;
          a {
            text-transform: uppercase;
            color: $darkgrey;
            font-family: "futura_bdcn_btbold";
            cursor: pointer;
          }
        }
      }
    }
    .orangebtn {
      margin-left: 30px !important;
      line-height: 90px !important;
    }
  }
}
