@font-face {
  font-family: "futura_bk_btbook";
  src: url("/fonts/futura_book_font-webfont.woff2") format("woff2"),
    url("/fonts/futura_book_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futura_xblk_btextra_black";
  src: url("/fonts/futura_extra_black_font-webfont.woff2") format("woff2"),
    url("/fonts/futura_extra_black_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futura_bdcn_btbold";
  src: url("/fonts/futura_bold_font-webfont.woff2") format("woff2"),
    url("/fonts/futura_bold_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
