#menu {
  top: 77px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
  display: none;
  background-color: white;
  &.shown {
    display: block;
  }
  nav {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100px; /*margin-top: -100px;*/
    li {
      margin-bottom: 30px;
      a {
        font-family: "futura_xblk_btextra_black";
        padding: 4px 8px;
        color: $white;
        text-transform: uppercase;
        font-size: 26px;
        background-color: black;
      }
    }
  }
}
