#videopopin,
#videopopin .viel {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#videopopin {
  position: fixed;
  z-index: 10;
  display: none;

  .viel,
  .box,
  .close {
    position: absolute;
  }

  .viel {
    z-index: 1;
    background-color: #000;
    opacity: 0;
    transition: opacity 1s ease-in;
  }

  .box {
    z-index: 2;
    left: 50%;
    top: 50%;
    //margin-top: -200px;
    margin-left: -360px;

    video {
      width: 720px;
    }
  }

  .close {
    z-index: 2;
    right: 40px;
    top: 40px;
    color: white;
    cursor: pointer;
    transform-origin: 50% 50%;
    transition: all 0.3s ease-in;
    font-size: 30px;
    &:hover {
      transform: rotate(179deg);
    }
  }

  &.shown {
    display: block;
    .viel {
      opacity: 0.6;
    }
  }
}
