h2 {
  font-size: 17px;
  font-family: "futura_xblk_btextra_black";
}

.next {
  position: absolute;
  bottom: 20px;
  width: 50px;
  left: 50%;
  margin-left: -25px;
  cursor: pointer;
  i {
    font-size: 20px;
    color: white;
  }
}

.blacktitle {
  span {
    background-color: black;
    display: block;
    margin-bottom: 4px;
    padding-bottom: 2px;
    padding-top: 4px;
    line-height: 17px;
    color: white;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.orangebtn {
  display: inline-block;
  background-color: $orange;
  color: white;
  margin: 0;
  padding: 4px 6px;
  font-family: "futura_xblk_btextra_black";
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  span {
    display: block;
    font-family: "futura_bk_btbook";
  }
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -19px 0 0 -19px;
  width: 38px;
  height: 38px;
  background: url(/img/play.png);
  background-size: 100% auto;
  transition: all 0.2s ease-in;
  transform-origin: 50% 50%;
  cursor: pointer;
}

@media screen and (min-width: 960px) {
  h2 {
    font-size: 36px;
  }

  .blacktitle {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    span {
      margin-bottom: 8px;
      padding-bottom: 4px;
      padding-top: 8px;
      line-height: 36px;
    }
  }

  .next {
    position: absolute;
    bottom: 10px;
    i {
      font-size: 36px;
      line-height: 36px;
    }
  }

  .orangebtn {
    font-size: 30px;
    padding: 8px 12px;
    &:hover {
      background-color: $green;
    }
  }
}
